<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Buject Planner</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <center><h2>Expense Analyzer</h2></center>
    <br>
    <center>
      <form method="POST">
        <label for="name">Enter your name:</label>
        <input type="text" id="name" name="name" required>

        <label for="salary">What is your monthly salary?</label>
        <input type="number" id="salary" name="salary" required>

        <label for="food">What is your monthly food expense?</label>
        <input type="number" id="food" name="food" required>

        <label for="clothes">What is your monthly clothes expense?</label>
        <input type="number" id="clothes" name="clothes" required>

        <label for="shopping">What is your monthly shopping expense?</label>
        <input type="number" id="shopping" name="shopping" required>

        <label for="tax">What is your monthly tax expense?</label>
        <input type="number" id="tax" name="tax" required>

        <label for="bills">What is your monthly bills expense?</label>
        <input type="number" id="bills" name="bills" required>

        <label for="travel">What is your current traveling cost?</label>
        <input type="number" id="travel" name="travel" required>

        <label for="savings">How much do you need to save?</label>
        <input type="number" id="savings" name="savings" required>

        <button type="submit">Submit</button>
    </center>
    </form>
    {% if result %}
    <h4>{{employee_name}} Monthly salary : {{monthly_salary}}</h4>
    <h4>{{employee_name}} Savings : {{savings}}</h4>
    <br>
    <h3>Expense Analysis Report</h3>
    <p>{{ result }}</p>
    <p>By Smukx. <a href="https://smukx.github.io" > Webpage </a></p>
    {% endif %}
</body>
</html>

